<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius nobis voluptatibus aliquid quos a beatae ex, nisi
        quia veniam quod! Nisi labore impedit provident reprehenderit facere velit maxime fugiat voluptatibus, cum est,
        aperiam illum quisquam aspernatur iusto cupiditate. Asperiores doloremque, laborum numquam corrupti itaque
        aspernatur velit commodi quibusdam molestias saepe!
    </div>
</article>